# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objetives

- **MATLAB**
- **SQL**
- **PYTHON**

### Some of the popular languages that Data Scientists use are:
 - Python
 - Java
 - R

### Some of the commonly used libraries used by Data Scientists include:

 - Numphy
 - Pandas
 - TensorFlow

| Data Science Tools |
|------------|
|Python|
|R|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
one = 5
two = 6
print(one + two)

11

### his a simple arithmetic expression to mutiply then add integers.

In [7]:
one = 3
two = 4
three = 5
print((one * two) + three)

17

### This will convert 200 minutes to hours by diving by 60.

In [8]:
minute = 200
print (minute/60)

3.3333333333333335

## AUTHOR: JONATAN PUMA